[defaults]
inventory = ec2.py
#inventory = hosts
remote_user = ubuntu
#passing this in as TF var on command line (to the ansible provisioner) to keep demo simple and avoid modifying config files
#UNCOMMENT and change if you wish to skip adding this to the ansible commands when you test
#private_key_file = path-to-your-key
host_key_checking = False
nocows = 1